include:
  - path: infra/loki/compose.yml
  - path: infra/grafana/compose.yml
  - path: packages/server/compose.yml
  - path: packages/demo/compose.yml
  - path: packages/docker-sidecar/compose.yml

networks:
  private:
    driver: bridge
    internal: true
  public:
    driver: bridge

volumes:
  loki-data:
  grafana-data:
