services:
  demo:
    profiles:
      - demo
    build:
      context: ../..
      dockerfile: packages/demo/Dockerfile
    environment:
      - LOGGER_URL=http://server:8080
    volumes:
      - ../../packages/demo/src:/workspace/demo/src
      - ../../packages/client/src:/workspace/client/src
      - ../../packages/shared/src:/workspace/shared/src
    depends_on:
      server:
        condition: service_healthy
    deploy:
      resources:
        limits:
          memory: 256M
    networks:
      - private
    command: bun run dev
