apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: self
          matcherRegex: '"session_id":"([^"]+)"'
          name: session_id
          url: '/explore?left={"queries":[{"refId":"A","expr":"{} | session=`${__value.raw}`"}]}'
          urlDisplayLabel: View Session
